<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}
  <body>
    <main>
      {{ partial "header.html" . }}
      <section class="article">
        <div class="article-header">
          <h2 class="article-title">{{ .Title }}</h2>
          <!-- <small class="date">{{ .Date.Format "Mon Jan 2, 2006" }}</small> -->
          <div class="tags">
            {{ range $.Params.tags }}
            <a href="{{site.BaseURL}}tags/{{ . }}" class="tag">{{ . }}</a>
            {{ end }}
          </div>
        </div>
        <div class="content">{{ .Content }}</div>
      </section>
      {{ partial "footer.html" . }}
    </main>
  </body>
</html>
